<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2><%=title %></h2>
    <p><%=contents %></p>

    <a href="/">홈으로</a>
  </body>
</html>
