<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <title>list</title>
</head>
<body>
    <ul>
        <% for (var i = 0; i<lists.length; i++){ %>
            <li>
                <%= lists[i] %>
            </li>
        <% } %>
    </ul>
    <a href="/">홈으로</a>
</body>
</html>